---
layout: page
title: Статьи
---
<div class="posts">
  {% for post in site.categories.article %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
    <br>
    {% if post.tags.size >= 1 %}
      {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tags/{{ tag }}">#{{ tag }} </a>
      {% endfor %}
    {% endif %}
  </div>  
  {% endfor %}
</div>
